/* body{
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
} */
#container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0, 0.538);

}
#del{
    background-color: black;
    color: gold;
}
#del:hover{
    background-color: gold;
    color: black;
}
#clearall{
    background-color: black;
    color: gold;
}
#clearall:hover{
    background-color: gold;
    color: black;
}
#display {
    text-align: right;
    height: 70px;
    line-height:70px;
    padding: 16px 8px;
    font-size: 30px;
    border-style:solid;
    border-color: black;
    border-width: 3px;
    color: black;
}
.crown{
    width: 4rem;
    align-self: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.buttons {
    display: grid;
    border-bottom: 1px solid gold;
    border-left: 1px solid goldenrod;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.buttons > div{
    border-top: 1px solid gold;
    border-right: 1px solid goldenrod;
}
.button {
    border: 0.5px solid gold;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}
#equals {
    background-color: rgb(14, 6, 82);
    color: white;
}
.button:hover {
    background-color: black;
    color: gold;
    transition: 0.5s ease-in-out;
}

